<h2><%= link_to 'Payrolls', payrolls_path %>: <%= @payroll.pay_day %>, <%= @payroll.company %></h2>

<p><%= pluralize(@payroll.stubs.size, 'Paystub') %></p>

<table border="1">
  <thead>
    <tr><th>ID</th><th>Name</th></tr>
  </thead>
  <tbody>
<%- @payroll.stubs.each do |stub| -%>
    <tr>
      <td><%= stub.id %></td>
      <td><%= stub.name %></td>
    </tr>
<%- end -%>
  </tbody>
</table>