<!DOCTYPE html>
<html>
<head>
  <title>Paystub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless controller_name == 'sessions' %>
<div class="session">
  <% if current_user %>
    Signed in as <%= current_user.email %>.
    <%= link_to "Sign out", sign_out_path %>
  <% else %>
    <%= link_to "Sign in", sign_in_path %>
  <% end %>
</div>
<%- end -%>

<h1>Paystub Application</h1>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => "flash #{key}" %>
<% end %>

<%= yield %>

</body>
</html>
